#logo-container {
    background-color: rgb(86, 140, 240);
    background-image: repeat-x;
    height: 120px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

#banner-image {
    position: relative;

}


#logo {
    width: 20%;
    text-align: left;
    position: absolute;
    top: 55px;
    left: 10px;
}


#byline {
    color: grey;
    font-size: 10;
    
}

#date {
    color: grey;
    font-size: 6;
    top: 2px;
    
}

#main-pictures {
    position: relative;
    top: 0;
    left: 0;
    align-items: left;
    margin-left: 0;
    padding-left: 0;

}

.unordered-list {
    margin-left: 0;
    padding-left: 0;
}

.table-header {
    color: white;
    background-color: rgb(4, 155, 201);
    border-right: rgb(4, 155, 201) 2px;
}

.odd-row {
    background-color: rgb(151, 242, 245);
}

.first-columns {
    width:25%;

}