#logo-container {
    background-image: url(img/pattern.png);
    background-repeat: repeat-x;
    background-color: rgb(86, 140, 240);
    height: 60px;
}




#logo {
    width: 20%;
    text-align: left;
    position: absolute;
    top: 20px;
    left: 10px;
}


#byline {
    color: grey;
    font-size: 10;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.date {
    color: skyblue;
    width: 500px;
    height: 500px;
}

#date {
    color: grey;
    font-size: 6;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

#main-pictures {
    position: relative;
    top: 0;
    left: 0;
    align-items: left;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-top: 0px;

}

figcaption {
    font-size: 10px;
}

.evidenziatore {
    background-color: rgb(255, 238, 0);
    width: 500px;
    height: 500px;
}

.unordered-list {
    list-style: inside;
    margin-left: 0px; 
    padding-left: 0px;
}

table {
    border-collapse: collapse;
}

.table-header {
    color: white;
    text-align: left;
    background-color: rgb(4, 155, 201);
}

.odd-row {
    background-color: rgb(151, 242, 245);
}

.first-columns {
    width:25%;
}

#footer-text {
    color: grey;
    margin-bottom: 0px;
}
#footer-image-1 {
    margin-top: 0px;  
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    
}

#footer-image-2 {
    margin-top: 5px;
    padding-top: 5px;
}